################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VaatcoBMS
# Visual Studio cache/options directory
.vs/
*.user
*.userosscache
*.sln.docstates